/* * BASE LAYOUT
 * */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #a1a1a1;
  position: relative;
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: black;
}

h1 {
  font-size: 2.3em;
  line-height: 1.1;
  letter-spacing: -1px;
  margin-bottom: 15px;
}

button {
  color: #454545;
  background: white;
  border: none;
}

button.btn-primary {
  text-transform: uppercase;
  font-family: "Spartan", sans-serif;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 10px;
  position: relative;
}

button.btn-primary:after {
  content: url("../../images/icon-arrow.svg");
  position: absolute;
  padding-left: 40px;
}

button.btn-primary:hover {
  cursor: pointer;
  opacity: 0.5;
}

button.btn-primary:hover:after {
  opacity: 0.5;
}

button.btn-primary:focus {
  outline-color: black;
  outline-offset: 10px;
  outline-width: 2px;
  outline-style: dotted;
}

img {
  width: 100%;
}

.logo img {
  max-width: 63px;
}

header {
  padding: 45px 25px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 1000;
}

header nav ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

header nav li#hamburger {
  position: absolute;
  top: 43px;
  left: 25px;
}

header nav li:not(#hamburger) {
  display: none;
}

header nav li a {
  text-transform: lowercase;
  text-decoration: none;
  color: black;
  position: relative;
}

header nav li:not(#hamburger) a:hover:after {
  content: "";
  position: absolute;
  width: 15px;
  border-bottom: 2px solid white;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: auto;
}

header nav li a:focus {
  outline-color: white;
  outline-style: dotted;
  outline-width: 2px;
  outline-offset: 5px;
}

header.show-menu {
  background: white;
  z-index: 1000;
}

header.show-menu .logo {
  display: none;
}

header.show-menu nav ul {
  display: flex;
  margin-left: 75px;
  justify-content: space-between;
}

header.show-menu nav li:not(#hamburger) {
  display: inline-block;
}

header.show-menu nav li a:focus {
  outline-color: black;
  outline-style: dotted;
  outline-width: 2px;
  outline-offset: 5px;
}

.overlay {
  width: 100%;
  height: 200px;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.hero-images .images li {
  height: 95vw;
}

.hero-images .images li.s1 {
  background: url("../../images/mobile-image-hero-1.jpg") no-repeat;
  background-size: cover;
}

.hero-images .images li.s2 {
  background: url("../../images/mobile-image-hero-2.jpg") no-repeat;
  background-size: cover;
}

.hero-images .images li.s3 {
  background: url("../../images/mobile-image-hero-3.jpg") no-repeat;
  background-size: cover;
}

.slide ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.slide.hero-images {
  position: relative;
}

.slide.hero-text {
  padding: 40px 30px;
  padding-bottom: 60px;
}

.slide.hero-text ul li {
  min-height: calc(300px - 15vw);
}

#slider-ctrl {
  position: absolute;
  bottom: 0;
  right: 0;
}

#slider-ctrl {
  background: black;
}

#slider-ctrl li {
  display: inline-block;
}

#slider-ctrl li:not(:last-of-type) {
  margin-right: -3px;
}

#slider-ctrl button {
  background: black;
  padding: 20px 25px;
}

#slider-ctrl button:hover {
  cursor: pointer;
  background: #454545;
}

#slider-ctrl button:focus {
  background: #454545;
  outline: none;
}

#slider-ctrl li button img {
  width: 0.6em;
}

.slide li,
.hero-text div {
  display: none;
}

.slide .current {
  display: block;
}

.liveregion {
  visibility: none;
}

/* * MEDIA QUERIES
 * */
@media screen and (min-width: 700px) {
  h1 {
    font-size: 3.3em;
    margin-bottom: 25px;
  }

  header {
    padding: 60px 20px;
    display: flex;
  }

  header nav {
    margin-left: 25px;
  }

  header nav li#hamburger {
    display: none;
  }

  header nav li:not(#hamburger) {
    display: inline-block;
    margin-left: 30px;
  }

  header nav li a {
    color: white;
  }

  section.slider {
    display: grid;
    grid-template-columns: 1fr 42%;
    align-items: center;
  }

  .slide.hero-text {
    margin-top: -50px;
  }

  .slide.hero-text ul li {
    min-height: 250px;
  }

  #slider-ctrl {
    right: -115px;
  }

  .hero-images .images li {
    max-height: 534px;
  }

  .hero-images .images li.s1 {
    background: url("../../images/desktop-image-hero-1.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero-images .images li.s2 {
    background: url("../../images/desktop-image-hero-2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero-images .images li.s3 {
    background: url("../../images/desktop-image-hero-3.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-width: 1000px) {
  header {
    padding: 60px;
  }

  .slide.hero-text {
    padding: 40px 60px;
  }
}
@media screen and (min-width: 1300px) {
  .slide.hero-text {
    padding: 40px 100px;
  }

  #slider-ctrl {
    right: -147px;
  }

  #slider-ctrl li:not(:last-of-type) {
    margin-right: -3px;
  }

  #slider-ctrl button {
    background: black;
    padding: 25px 30px;
  }

  #slider-ctrl li button img {
    width: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
