// STYLEGUIDE
$col-primary-dark: hsl(0, 0%, 0%)
$col-primary-light: hsl(0, 0%, 100%)
$col-text: hsl(0, 0%, 63%)
$col-cta: hsl(0, 0%, 27%)

$font-base-size: 12px
$font-stack: 'Spartan', sans-serif
$font-weight-light: 500
$font-weight-regular: 600
$font-weight-bold: 700


/*
 * BASE LAYOUT
 */
*
  box-sizing: border-box
  // transition: all 0.2s ease-in-out
body
  margin: 0
  height: 100%
  width: 100%
  font-family: $font-stack
  font-weight: $font-weight-light
  font-size: $font-base-size
  color: $col-text
  position: relative
  line-height: 1.7
h1, h2, h3, h4, h5, h6
  font-weight: $font-weight-regular
  color: $col-primary-dark
h1
  font-size: 2.3em
  line-height: 1.1
  letter-spacing: -1px
  margin-bottom: 15px
button
  color: $col-cta
  background: $col-primary-light
  border: none
button.btn-primary
  text-transform: uppercase
  font-family: $font-stack
  font-size: 1em
  font-weight: $font-weight-regular
  letter-spacing: 10px
  position: relative
button.btn-primary:after
  content: url("../../images/icon-arrow.svg")
  position: absolute
  margin-left: 40px
img
  width: 100%
.logo img
  max-width: 63px

// SLIDER

// Style
.slide ul
  list-style-type: none
  padding: 0
  margin: 0
.slide.hero-images
  position: relative
.slide.hero-text
  padding: 40px 30px
  padding-bottom: 60px
.slide.hero-text ul li
  min-height: 260px
// Controls
#slider-ctrl
  position: absolute
  bottom: 7px
  right: 0
#slider-ctrl li
  display: inline-block
#slider-ctrl li:not(:last-of-type)
  margin-right: -3px
#slider-ctrl button
  background: $col-primary-dark
  padding: 20px 25px
#slider-ctrl button:hover
  cursor: pointer
  background: $col-cta
#slider-ctrl button:focus
  background: $col-cta
  outline: none
#slider-ctrl li button img
  width: 0.6em
//Functionality
.slide li,
.hero-text div
  display: none
.slide .current
  display: block
.liveregion
  visibility: none


// HEADER
header
  padding: 45px 25px
  position: absolute
  width: 100%
  top: 0
  left: 0
  text-align: center
  z-index: 1000
header nav
header nav ul
  list-style-type: none
  padding-left: 0
  margin: 0
header nav li#hamburger
  position: absolute
  top: 43px
  left: 25px
header nav li:not(#hamburger)
  display: none
header nav li a
  text-transform: lowercase
  text-decoration: none
  color: $col-primary-dark
  position: relative
header nav li:not(#hamburger) a:hover:after
  content: ""
  position: absolute
  width: 15px
  border-bottom: 2px solid $col-primary-light
  bottom: -10px
  left: 0
  right: 0
  margin: auto
header nav li a:focus
  outline-color: $col-primary-light
  outline-style: dotted
  outline-width: 2px
  outline-offset: 5px

// Mobile menu
header.show-menu
  background: $col-primary-light
  z-index: 1000
header.show-menu .logo
  display: none
header.show-menu nav ul
  display: flex
  margin-left: 75px
  justify-content: space-between
header.show-menu nav li:not(#hamburger)
  display: inline-block
header.show-menu nav li a:focus
  outline-color: $col-primary-dark
  outline-style: dotted
  outline-width: 2px
  outline-offset: 5px
.overlay
  width: 100%
  height: 200px
  background: rgba(0,0,0,0.5)
  position: fixed
  height: 100%
.stop-scrolling
  height: 100%
  overflow: hidden


/*
 * MEDIA QUERIES
 */
@media screen and (min-width: 700px)
  header
    padding: 60px
    display: flex
  header nav
    margin-left: 25px
  header nav li#hamburger
    display: none
  header nav li:not(#hamburger)
    display: inline-block
    margin-left: 30px
  header nav li a
    color: $col-primary-light
